
@model IEnumerable<TeamProject.DataModels.ApplicationUser>

@{
	ViewBag.Title = "Users";
}

<style>

	div {
		color: black;
	}
	table tr:nth-child(even) td {
		border-top: 1px solid #000000;
	}
	table tr:nth-child(odd) td {
		border-top: 1px solid #000000;
	}
	.search-user {
		margin: 20px;
		font-size: 16px;
	}
</style>





@using (Html.BeginForm("Index", "Users", FormMethod.Get))
{
    <p class="search-user-style title-h1">
        Find by username/full name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string,new { @class="search-field"})
        <input type="submit" value="Search" class="btn-search" />
    </p>
}
<table class="table my-group-search">
    <tr>
        <th>
            @Html.ActionLink("Username", "Index", new { sortOrder = ViewBag.UserSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Full Name", "Index", new { sortOrder = ViewBag.FullNameSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
    </tr>
}

</table>