
@using TeamProject.DataModels
@using TeamProject.Models
@model  CommentViewModel

<div class="post-footer-comment-wrapper">

    <div class="comment-@Model.Id">
        <div class="media">
            <div class="media-left">
                @{
                    var imageUrl = Url.Content("~/Content/images/profile/") + Model.Username + ".png" + "?time=" + DateTime.Now;
                    <a href="#">
                        <img class="media-object photo-profile" src="@imageUrl" width="32" height="32" onerror="this.src = '../Content/images/profile/default.png';" />
                    </a>
                }
            </div>
            <div class="media-right">

            </div>
            <div class="media-body">
                <a href="#" class="anchor-username anchor"><h4 class="media-heading">@Model.Author</h4></a>
                <div class="anchor-time anchor">@Model.CommentPostDate</div>

            </div>
        </div>
    </div>

    <div class="comment-form">
        @Model.Text
        <br />
    </div>


    <ul class="list-inline">

        <li class="comment-like-@Model.CommentId">
            @using (Ajax.BeginForm("CommentLike", "Home", new
            {
                id = Model.CommentId
            }, new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "comment-like-" + Model.CommentId,
                OnSuccess = "commentLikeSuccessHandler(data)",
            }, new
            {
                @class = ""
            }))
            {
                <button type="submit" name="command" class="btn btn-success" value="Like"><span class="glyphicon glyphicon-thumbs-up" id="comment-likes-@Model.CommentId">@Model.CommentLikes</span></button>
                                            <span id="comment-@Model.CommentId">@Model.CommentCountLikes</span>
                                            <button type="submit" name="command" class="btn btn-danger" value="Dislike"><span class="glyphicon glyphicon-thumbs-down" id="comment-dislikes-@Model.CommentId">@Model.CommentDislikes</span></button>
            }
        </li>
    </ul>

    <hr />
    }

</div>



@section scripts {
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/Scripts/Handlers/likeSuccessHandler.js")
}
