@{
    ViewBag.Titele = "Index";
}
@using TeamProject.Models
@model PostsViewModel

<style>
    div {
        color: black;
    }

    .row {
        margin: 10px;
        font-size: 18px;
    }

    footer {
        text-align: center;
        font-size: 16px;
    }

    .posted {
        font-size: 16px;
    }

    .title {
        font-weight: bold;
    }

    hr {
        display: block;
        height: 1px;
        border-top: 1px solid #000000;
        margin: 1em 0;
        padding: 0;
    }
    .body-content-post {
        word-wrap: break-word;
    }
    /**/ /**/
</style>


@*@using (Html.BeginForm())
    {
        <p>
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }*@
<div class="container-fluid">

    <div class="col-md-8 col-sm-12 col-lg-9">

        @foreach (var post in Model.Posts)
        {
            <div class="panel panel-default" id="full-post-@post.Id" style="visibility:visible">

                <div class="panel-body">

                    <section class="post-heading">

                        <div class="row">

                            <div class="row-home">

                                <div class="col-md-10">

                                    <div class="media">

                                        <div class="media-left">

                                            @{
                                                var imagePostUrl = Url.Content("~/Content/images/profile/") + post.Username + ".png" + "?time=" + DateTime.Now;

                                                <img class="media-object photo-profile" src="@imagePostUrl" width="60" height="60" onerror="this.src = '../Content/images/profile/default.png';" />
                                            }

                                        </div>

                                        <div class="media-body">

                                            <a href="#" class="anchor-username anchor"><h4 class="media-heading">@post.Author</h4></a>
                                            @{
                                                if (post.Modified != null)
                                                {
                                                    <span class="anchor-time anchor">@post.Modified <label>Edited</label></span>
                                                }
                                                else
                                                {
                                                    <span class="anchor-time anchor">@post.PostDate</span>

                                                }
                                            }
                                            <span class="anchor-title"><h3 class="media-title">@post.Title</h3></span>
                                        </div>
                                        <div class="media-right" id="post-details-@post.Id">
                                            @Ajax.ActionLink(" ", "PostById", "Home",
                                        new { id = post.Id },
                                        new AjaxOptions
                                        {
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "post-details-" + post.Id
                                        }, new { @class = "glyphicon glyphicon-chevron-down" })

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 notification-@post.Id">
                                
                                Notification
                            </div>
                        </div>
                    </section>

                    <section class="post-body">

                        <div class="body-content-post">

                            @if (post.Description != null)
                            {
                                <h4 class="post-description">Description:</h4>
                                <span class="description">@post.Description</span>
                                <hr />
                            }
                            <p class="body-text">@post.Body</p>
                            @if (post.VideoUrl != null)
                            {

                                <div class="responsive-video">
                                    <iframe src="@post.VideoUrl" frameborder="0" allowfullscreen></iframe>
                                </div>
                            }
                            @if (post.ImageUrl != null)
                            {
                                <div>
                                    <img src="@Url.Content("~/Content/images/posts/"+ post.ImageUrl)" class="post-image"/>
                                </div>
                            }

                        </div>

                    </section>
                    <section class="post-footer post-footer-@post.Id">
                        <div class="post-footer-option container">
                            <ul class="list-inline about">

                                <li class="post-like-@post.Id">
                                    @using (Ajax.BeginForm("AddLike", "Home", new
                                    {
                                        id = post.Id
                                    }, new AjaxOptions
                                    {
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "post-like-" + post.Id,

                                        OnSuccess = "likeSuccessHandler(data)",
                                    }, new
                                    {
                                        @class = ""
                                    }))
                                    {
                                        <button type="submit" name="command" class="btn btn-success" value="Like"><span class="glyphicon glyphicon-thumbs-up" id="post-likes-@post.Id">@post.PostLikes</span></button>
                                        <span id="post-@post.Id">@post.LikesCount</span>
                                        <button type="submit" name="command" class="btn btn-danger" value="Dislike"><span class="glyphicon glyphicon-thumbs-down" id="post-dislikes-@post.Id">@post.PostDislikes</span></button>
                                    }
                                </li>

                                <li class="new-comment">
                                    @using (Ajax.BeginForm("AddComment", "Home", new { id = post.Id },
                                new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.InsertAfter,

                                    UpdateTargetId = "comment-section-" + post.Id,
                                    OnSuccess = "addComment1(data)",
                                }, new
                                {
                                    @class = ""
                                }))
                                    {
                                        string commentText = "";
                                        <div class="com">
                                            @Html.EditorFor(x => commentText, new { htmlAttributes = new { @class = "com-form hvr-grow" } })
                                            <input type="submit" value="Comment" class="btn my-btns hvr-pulse" />
                                        </div>
                                    }
                                </li>
                                @*<li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>*@
                            </ul>

                        </div>
                        <hr />
                        

                        <section id="comment-section-@post.Id">
                            <div class="post-footer-comment-wrapper">

                                @foreach (var comment in post.Comments)
                                {
                                    <div class="comment-@post.Id">
                                        <div class="media">
                                            <div class="media-left">
                                                @{
                                                    var imageUrl = Url.Content("~/Content/images/profile/") + comment.Username + ".png" + "?time=" + DateTime.Now;
                                                    <a href="#">
                                                        <img class="media-object photo-profile" src="@imageUrl" width="32" height="32" onerror="this.src = '../Content/images/profile/default.png';" />
                                                    </a>
                                                }
                                            </div>
                                            <div class="media-right">

                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="anchor-username anchor"><h4 class="media-heading">@comment.Author</h4></a>
                                                <div class="anchor-time anchor">@comment.CommentPostDate</div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="comment-form">
                                        @comment.Text
                                        <br />
                                    </div>


                                    <ul class="list-inline">

                                        <li class="comment-like-@comment.CommentId">
                                            @using (Ajax.BeginForm("CommentLike", "Home", new
                                            {
                                                id = comment.CommentId
                                            }, new AjaxOptions
                                            {
                                                InsertionMode = InsertionMode.Replace,
                                                UpdateTargetId = "comment-like-" + comment.CommentId,
                                                OnSuccess = "commentLikeSuccessHandler(data)",
                                            }, new
                                            {
                                                @class = ""
                                            }))
                                            {
                                                <button type="submit" name="command" class="btn btn-success" value="Like"><span class="glyphicon glyphicon-thumbs-up" id="comment-likes-@comment.CommentId">@comment.CommentLikes</span></button>
                                                <span id="comment-@comment.CommentId">@comment.CommentCountLikes</span>
                                                <button type="submit" name="command" class="btn btn-danger" value="Dislike"><span class="glyphicon glyphicon-thumbs-down" id="comment-dislikes-@comment.CommentId">@comment.CommentDislikes</span></button>
                                            }
                                        </li>
                                    </ul>

                                    <hr />
                                                    }

                            </div>

                        </section>
                    </section>
                </div>
            </div>
                                                    }

    </div>
    <div class="col-md-3 col-lg-2 pull-right side-bar-nav side-bar-nav2">
        <div class="notifications" id="notifications">Notifications:</div>
        @Html.Partial("_Alert")
    </div>

    <div class="col-md-3 col-lg-2 pull-right side-bar-nav side-bar-nav2">
      
          @foreach (var item in Model.Posts.Take(5))
        {
            @Html.ActionLink(@item.Title, "Details", "Post", new { id = item.Id } , new { @class = "home-bar-style edit-delete-details" })
            <p></p>
            
        }

    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/Scripts/Handlers/likeSuccessHandler.js")
    @Scripts.Render("~/Scripts/Handlers/likeSuccessHandler.js")
    @Scripts.Render("~/Scripts/Handlers/addComment.js")
}
    