@{
	ViewBag.Title = "Home";
}

@model List<TeamProject.DataModels.Post>
<style>
	body {
		background-image: url('../../background.jpg');
	}
	div {
    color: black;
	}
	.row {
	margin: 10px;
	font-size: 18px;
	}
	footer {
	text-align:center;
	font-size:16px;
	}
	.posted {
	font-size: 16px;	
	}
	.title {
	font-weight:bold;
	}
		hr {
    display: block;
    height: 1px;
    border-top: 1px solid #000000;
    margin: 1em 0;
    padding: 0; 
}
</style>
@foreach (var post in Model)
	{
	<div class="row">
		<div class="post col-md-6">
			<h2 class="title">@post.Title</h2>
			<div class="posted">
				Posted on <i>@post.PostedOn</i>
				@*@if (post.Author !=null)
					{
					@:by <i>@post.Author(@post.Author)</i>
					}*@
			</div>
			<div>@post.Body</div>
		</div>
	</div>
	}
