@{
    ViewBag.Titele = "Index";
}
@model TeamProject.Models.PostsViewModel
<style>
    div {
        color: black;
    }

    .row {
        margin: 10px;
        font-size: 18px;
    }

    footer {
        text-align: center;
        font-size: 16px;
    }

    .posted {
        font-size: 16px;
    }

    .title {
        font-weight: bold;
    }

    hr {
        display: block;
        height: 1px;
        border-top: 1px solid #000000;
        margin: 1em 0;
        padding: 0;
    }

    .body-content-post {
        word-wrap: break-word;
    }
</style>
<div class="container">
    <div class="col-md-6 col-xs-12">
        @foreach (var post in Model.Posts)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <section class="post-heading">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="media">
                                    <div class="media-left">
                                        @{
                                            var imagePostUrl = Url.Content("~/Content/images/profile/") + post.Username + ".png" + "?time=" + DateTime.Now;

                                            <img class="media-object photo-profile" src="@imagePostUrl" width="40" height="40" onerror="this.src = '../Content/images/profile/default.png';" />
                                        }

                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="anchor-username"><h4 class="media-heading">@post.Author</h4></a>
                                        <span class="anchor-time">@post.PostDate</span>
                                        <span class="anchor-title"><h3 class="media-title">@post.Title</h3></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">

                                <a href='@Url.Action("PostById","Home", new {id = post.Id})'><i class="glyphicon glyphicon-chevron-down"></i></a>
                            </div>
                        </div>
                    </section>

                    <section class="post-body">
                        <div class="body-content-post">
                            @post.Body
                        </div>

                    </section>
                    <section class="post-footer">
                        <hr />
                        <div class="post-footer-option container">
                            <ul class="list-inline">

                                <li class="like-@post.Id">
                                    @using (Ajax.BeginForm("AddLike", "Home", new {id = post.Id}, new AjaxOptions
                                    {
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "like-" + post.Id,
                                        OnSuccess = "likeSuccessHandler(data)"
                                    }, new {@class = ""}))
                                    {
                                        <button type="submit" class="glyphicon glyphicon-thumbs-up"><span id="post-@post.Id">@post.LikesCount</span></button>
                                    }
                                </li>
                               
                                <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                            </ul>
                        </div>
                        
                        <div class="post-footer-comment-wrapper">
                            @foreach (var comment in post.Comments)
                            {

                                <div class="comment-form">
                                    @comment.Text
                                </div>
                                        <div class="comment">

                                            <div class="media">
                                                <div class="media-left">
                                                    @{
                                                        var imageUrl = Url.Content("~/Content/images/profile/") + comment.Username + ".png" + "?time=" + DateTime.Now;
                                                        <a href="#">

                                                            <img class="media-object photo-profile" src="@imageUrl" width="32" height="32" onerror="this.src = '../Content/images/profile/default.png';" />
                                                        </a>
                                                    }
                                                </div>
                                                <div class="media-body">
                                                    <a href="#" class="anchor-username"><h4 class="media-heading">@comment.Author</h4></a>

                                                    <a href="#" class="anchor-time">@comment.CommentPostDateDate</a>
                                                </div>
                                            </div>
                                        </div>
                                                        }
                        </div>
                    </section>
                </div>
            </div>
                                                        }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/Scripts/jsHandlers/likeSuccessHandler.js")
}
