@using TeamProject.Models

@model PostsViewModel 
@foreach (var post in Model.Posts)
{
<div class="row">
    <div class="row-home">

        <div class="col-md-10">

            <div class="media">

                <div class="media-left">

                    @{
                        var imagePostUrl = Url.Content("~/Content/images/profile/") + post.Username + ".png" + "?time=" + DateTime.Now;

                        <img class="media-object photo-profile" src="@imagePostUrl" width="60" height="60" onerror="this.src = '../Content/images/profile/default.png';" />
                    }

                </div>

                <div class="media-body">

                    <a href="#" class="anchor-username anchor"><h4 class="media-heading">@post.Author</h4></a>
                    <span class="anchor-time anchor">@post.PostDate</span>
                    <span class="anchor-title"><h3 class="media-title">@post.Title</h3></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2" id="post-details-@post.Id">
        @Ajax.ActionLink(" ", "PostById", "Home",
                                    new { id = post.Id },
                                    new AjaxOptions
                                    {
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "post-details-" + post.Id
                                    }, new { @class = "glyphicon glyphicon-chevron-down" })
    </div>
</div>
}