
@{
    ViewBag.Titele = "Index";
}
@using TeamProject.Models
@model PostsViewModel

<style>
    div {
        color: black;
    }

    .row {
        margin: 10px;
        font-size: 18px;
    }

    footer {
        text-align: center;
        font-size: 16px;
    }

    .posted {
        font-size: 16px;
    }

    .title {
        font-weight: bold;
    }

    hr {
        display: block;
        height: 1px;
        border-top: 1px solid #000000;
        margin: 1em 0;
        padding: 0;
    }

    .body-content-post {
        word-wrap: break-word;
    }
</style>

<div class="container">

    <div class="col-- col-md-11 col-xs-12">

        @*<h3 class="text-success">@ViewBag.StatusMessage</h3>*@
        
            <div class="panel panel-default">
@using (Ajax.()
                <div class="panel-body">
                    
              
                            <div class="post-footer-comment-wrapper">

                                @foreach (var comment in post.Comments)
                                {
                                    <div class="comment-@post.Id">
                                        <div class="media">
                                            <div class="media-left">
                                                @{
                                                    var imageUrl = Url.Content("~/Content/images/profile/") + comment.Username + ".png" + "?time=" + DateTime.Now;
                                                    <a href="#">
                                                        <img class="media-object photo-profile" src="@imageUrl" width="32" height="32" onerror="this.src = '../Content/images/profile/default.png';" />
                                                    </a>
                                                }
                                            </div>
                                            <div class="media-right">

                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="anchor-username anchor"><h4 class="media-heading">@comment.Author</h4></a>
                                                <div class="anchor-time anchor">@comment.CommentPostDate</div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="comment-form">
                                        @comment.Text
                                        <br />
                                    </div>


                                    <ul class="list-inline">

                                        <li class="comment-like-@comment.CommentId">
                                            @using (Ajax.BeginForm("CommentLike", "Home", new
                                            {
                                                id = comment.CommentId
                                            }, new AjaxOptions
                                            {
                                                InsertionMode = InsertionMode.Replace,
                                                UpdateTargetId = "comment-like-" + comment.CommentId,
                                                OnSuccess = "commentLikeSuccessHandler(data)",
                                            }, new
                                            {
                                                @class = ""
                                            }))
                                            {
                                                <button type="submit" name="command" class="btn btn-success" value="Like"><span class="glyphicon glyphicon-thumbs-up" id="comment-likes-@comment.CommentId">@comment.CommentLikes</span></button>
                                                <span id="comment-@comment.CommentId">@comment.CommentCountLikes</span>
                                                <button type="submit" name="command" class="btn btn-danger" value="Dislike"><span class="glyphicon glyphicon-thumbs-down" id="comment-dislikes-@comment.CommentId">@comment.CommentDislikes</span></button>
                                            }
                                        </li>
                                    </ul>

                                    <hr />
                                                    }

                            </div>
                </div>
            </div>
                                                    }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/Scripts/Handlers/likeSuccessHandler.js")
}
