@model IEnumerable<TeamProject.DataModels.Post>

@{
    ViewBag.Title = "Index";
}
<style>
	td.post-body-view {
			word-break: break-word;
	}
	.table {
    position: relative;
	top: -90px;
	margin:20px;
    color:black;
    margin-left: 30px;
}
    .home-bar-style:hover{
        text-decoration:none;
    }
</style>


<table class="table">
    <tr>
        <th>
            Author name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Post date
        </th>
        <th>
            Last modified
        </th>
        <th>
            Post likes
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
		<td class ='post-body-view'>
			@Html.DisplayFor(modelItem => item.Body)
		</td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostLikeCounter)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new object { }, new { id=item.PostId , @class = "home-bar-style edit-delete-details" }) 
            @Html.ActionLink("Details", "Details", new object { }, new { id = item.PostId, @class = "home-bar-style edit-delete-details" }) 
            @Html.ActionLink("Delete", "Delete", new object { }, new { id = item.PostId, @class = "home-bar-style edit-delete-details" }) 
        </td>
    </tr>
}

</table>
